<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-figuritas">
        <div class="container">
            <div class="navbar-header">              
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("TEXTO", "ACCION", "CONTROLER")</li>*@
                    <li>@Html.ActionLink("Principal", "Principal", "Home")</li>
                    <li>@Html.ActionLink("Amigos", "Amigos", "Home")</li>
                    <li>@Html.ActionLink("Configuracion", "Configuracion", "Home")</li>
                    <li>@Html.ActionLink("Deslogueo", "Index", "Home")</li>
                </ul>
                <img style="float:right" src="http://imagenesgenialesparapasar.com/wp-content/uploads/2017/07/perfil-de-facebook-con-carita.jpg" alt="foto perfil" width="100" height="100" align="right" />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
