@model Figuritas.Models.Album

@{
    ViewBag.Title = "Amigos";
}




@using (Html.BeginForm("Intercambio", "Home", Model))
{

<div class="album">
    <h2 align="center">Album de Amigo</h2>
    <h2 align="center"> @Model.Nombre</h2>

    
    <hr />

    <div class="row">

        @foreach (var item in Model.Figuritas)
        {
            <div class="col-sm-3">
                <div class="figurita-box">

                    <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" />
                    @*@Html.LabelFor(x => item.Cantidad, "Cantidad de figuritas para intercambio: ")
                    @Html.TextBoxFor(x => item.Cantidad)*@
                    @Html.LabelFor(x => item.Cantidad, "Cantidad de figuritas disponibles para intercambio: ")
                    @Html.ValueFor(x => item.Cantidad)
                    @Html.ValidationMessageFor(x => item.Cantidad)

                </div>

            </div>
        }
    </div>
</div>


}


@*<div class="album">
    <h2 align="center">@ViewBag.Message</h2>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="figurita-box">
                <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" /><input name="textfield" type="int" id="textfield" value="0" size="3" maxlength="2" aling="left" /><input class="btn btn-default" type="button" value="Intercambio" style="margin-left: 10px" />
            </div>
        </div>
    </div>
</div>*@

