@model Figuritas.Models.Usuario

@{
    ViewBag.Title = "Initial";
}

@using (Html.BeginForm("Principal", "Home", Model))
{
    <div class="logueo">
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Contrasena)
            @Html.TextBoxFor(x => x.Contrasena)
            @Html.ValidationMessageFor(x => x.Contrasena)
        </div>
        <div>
            <input class="btn btn-default" type="submit" value="Loguear" />
            <input class="btn btn-default" type="button" value="Alta Usuario" onclick="location.href='@Url.Action("AltaUsuario", "Home")'" />
        </div>

       @*<p class="btn btn-default">@Html.ActionLink("Loguear", "Principal", "Home")</p>*@
       @* <p class="btn btn-default">@Html.ActionLink("Alta Usuario", "Principal", "Home")</p>*@

    </div>
}

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")

}




