
@model List<Figuritas.Models.PropuestaIntercambio>

@{
    ViewBag.Title = "MisIntercambios";
}




<div class="album">
    <h2 align="center">Lista de Propuestas de Intercambios</h2>
    @* <h2 align="center"> @Model.</h2>*@


    <hr />

    <div class="row">

        @for (var i = 0; i < Model.Count(); i++)
        {
            <div class="figurita-box">
                @Html.LabelFor(x => x[i].Ofertante)
                @Html.ValueFor(x => x[i].Ofertante)
                @Html.LabelFor(x => x[i].NumeroFigurita)
                @Html.ValueFor(x => x[i].NumeroFigurita)
            </div>
         
        }
    </div>
</div>



