@model List<Figuritas.Models.Figurita>


@{
//ViewBag.Title = "Principal";
//List<Figuritas.Models.Figurita> figuritas = Model.Figuritas;
//TempData.Add("Figuritas", figuritas);
}


@using (Html.BeginForm("Actualizar", "Home", Model))
{

        <div class="album">

            <h2 align="center">Album de Usuario</h2>
            <h2 align="center">@ViewBag.Title</h2>

            <input class="btn btn-default" type="submit" value="Actualizar" />
            <hr />

            <div class="row">


                @*@Html.EditorFor(x => x.Figuritas);*@


                @for (var i = 0; i < Model.Count(); i++)
                {
                    <div class="col-sm-3">
                        <div class="figurita-box">
                            <img class="figurita" src="http://piyaexotica.com/images/projects/Dummy.jpg" alt="Imagen figurita" />
                            @Html.HiddenFor(x => x[i].IdAlbum)
                            @Html.HiddenFor(x => x[i].Numero)
                           @* @Html.LabelFor(x => x[i].Cantidad)*@
                            @*<input class="form-control" type="text" value="@Model.Figuritas[i].Cantidad" name="cantidadFigurita" />*@
                            @Html.EditorFor(x => x[i].Cantidad)
                            @Html.ValidationMessageFor(x => x[i].Cantidad)
                        </div>

                    </div>
                }
            </div>     
        </div>
    

}


